//@import "~taro-ui/dist/style/components/divider.scss";
//@import "~taro-ui/dist/style/components/button.scss";
//@import "~taro-ui/dist/style/components/action-sheet.scss";
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: #0086f6;
}
